extends ../../layout/setting
include ../../util/form

block content
  .panel
    .user.profile.edit
      +form("/setting/profile", "put")(class="forms")
        label
          span= i18n("nickname")
          input(type="text" name="nickname" value="profile")
        label
          span= i18n("biography")
          textarea(name="biography" placeholder="")
        button.radius.small= i18n("save")

block sidebar
  .panel

block title
  = i18n("user")
