ul.side-nav.inverse.category.index
  for category in categories
    li(data-tab-item=category.identifier)
      a(href="/category/#{category.identifier}")
        = category.name
        span.label.round.secondary.right= category.topics_count
