.category.new
  +form("/admin/category")(class="forms")
    label
      span= i18n("name")
      input(type="text" name="name" value="")
    label
      span= i18n("identifier")
      input(type="text" name="identifier" value="")
    button.radius.small= i18n("create")
