//- doctype html
//- html
//-   head
//-     include partial/head
//-   body
//-     .header
//-       .inner.width-985
//-         include partial/brand
//-         include partial/navtab
//-     .container
//-       .inner.width-385
//-         .units-row
//-           .unit-centered.unit-100
//-             .not-found
//-               span(class="icon-signal")
//-               p= i18n("not_found")
//-     .footer
