doctype html
html
  head
    include ../partial/head
  body
    include ../partial/topbar
    .header
    .container
      .row
        .small-12.small-centered.medium-7.medium-centered.large-5.large-centered.columns
          block content
    .footer
